<!-- <p>all-contacts works!</p> -->
<div class="container">
    <div class="row">
        <div class="col">
    <!-- heading -->
    
            <h1>
                Online Contact Application
                <a class="btn btn-success ms-3" routerLink="add-contact">&nbsp;
                    
                    <!-- add contact button -->
                    <i class="fa-solid fa-user-plus me-2"></i>
                    Add New</a>
            </h1>
            <p>{{loginDetails}}</p>
            <!-- dummy data -->
            <p style="text-align: justify;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolore ipsam natus explicabo nesciunt eligendi consequuntur pariatur blanditiis aliquam sapiente rerum laudantium amet temporibus, vero, obcaecati reiciendis, quod esse ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolore ipsam natus explicabo nesciunt eligendi consequuntur pariatur blanditiis aliquam sapiente rerum laudantium amet temporibus, vero, obcaecati reiciendis, quod esse ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolore ipsam natus explicabo nesciunt eligendi consequuntur pariatur blanditiis aliquam sapiente rerum laudantium amet temporibus, vero, obcaecati reiciendis, quod esse ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolore ipsam natus explicabo nesciunt eligendi consequuntur pariatur blanditiis aliquam sapiente rerum laudantium amet temporibus, vero, obcaecati reiciendis, quod esse ab.
            </p>
    
            <!-- search box -->
    
    <div class="row">
       <div class="col-6">
            <input type="text" [(ngModel)]="searchKey" class="form-control" placeholder="Search contact Here">
        </div>
       <div class="col-6"></div>
    </div>
    
        </div>
    </div>
    
    </div>
    
    <!-- card design -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let contact of allContacts | filter :searchKey:'name' ">
                <div class="card">
                    <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-4 text-center">
    <!-- image -->
    <img class="contact_img" [src]="contact.photo" alt="contact image">
    
                        </div>
                        <div class="col-md-7">
                            <!-- contact details -->
                            <ul class="list-group">
                                <li class="list-group-item">Name :<span class="fw-bolder">{{contact.name}}</span></li>
                                <li class="list-group-item">Mobile :<span class="fw-bolder">{{contact.mobile}}</span></li>
                                <li class="list-group-item">Email :<span class="fw-bolder">{{contact.email}}</span></li>
                            </ul>
                        </div>
                        <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
                            <!-- actions -->
                            
                            <!-- view -->
                            <a routerLink="view-contact/{{contact.id}}" class="btn btn-success mb-1">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                              
                            <!-- edit -->
    
                            <a routerLink="edit-contact/{{contact.id}}" class="btn btn-warning mb-1">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
    
                            <!-- delete -->
                            <button (click)="deleteContact(contact.Id)" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
    
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6"></div>
        </div>
    </div>
