/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Chivo+Mono:ital,wght@1,200&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Overpass:wght@100&family=Pacifico&family=Rubik+Gemstones&family=Sevillana&family=Seymour+One&family=Ubuntu&family=Yeon+Sung&display=swap');

body{
     font-family: 'Oswald', sans-serif;
}
.contact_img{
    width: 130px;
    height: 130px;
}